
td img.item:hover {
    background: white;
    opacity: .8;
}



.tooltip {
    position: relative;
}
/*
.item {
display: block;
margin: 15px;
width: 35px;
height:35px;
border-radius: 50%;
background-color: orange;
} */

.content {
    position: absolute;
    top: 0px;
    left: 75px;
    opacity: 0;
    transition: opacity 0s ease-in;
}

.content:not(.visible) {
    z-index: -100;
    pointer-events: none;
}


.item:hover + .content {
    opacity: 1;
}

.specificLocation {
    margin-left: 100px;
}