@font-face {
    font-family: minecraftia;
    src: url('./Minecraftia-Regular.ttf');
  }

td img.item:hover {
    background: white;
    opacity: .8;
}



.tooltip {
    position: relative;
}
/*
.item {
display: block;
margin: 15px;
width: 35px;
height:35px;
border-radius: 50%;
background-color: orange;
} */

.content {
    position: absolute;
    top: 0px;
    left: 75px;
    opacity: 0;
    transition: opacity 0s ease-in;
    width: 275px;
    height: 80px;
    color: white;
    vertical-align: middle;
}

.content p {
    font-family: minecraftia;
    font-size: 42px;
    margin: 9px 17px;

}

.content:not(.visible) {
    z-index: -100;
    pointer-events: none;
}


.item:hover + .content {
    opacity: 1;
}

.specificLocation {
    margin-left: 100px;
}